@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Playwrite+DE+LA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&family=Playwrite+DE+LA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&family=Playwrite+CU:wght@100..400&family=Playwrite+DE+LA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

/*HEADER*/
.contenedor{
    display: flex;
    max-width: 100%;
    justify-content:space-between;
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    align-items: center;
   
}

body{
   background: rgb(2, 2, 2);

}

.menu1{
   
    display: none;
    right: 30px;
    
}

.menu1 img{
    width: 25px;
    cursor: pointer;
}

.menu{
    display: flex;
    height: auto;
    align-items: center;
    padding: 15px;
}

.menu{
    animation: revealText6 5s forwards;
}

.menu .tema h1{
    font-family: "Roboto", serif;
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    color:red;
    
}

.menu .ico li{
    border-radius: 10px;
    margin-left: 10px;
    width: 15px; height: 25px; display: flex; align-items: center; background: white; justify-content: center;
}
.menu .ico{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
}
.menu .tema .back{
    margin-top: -30px;
}

.menu .ico ul li img{
    width: 25px;
    cursor: pointer;
}

.menu .ico ul{
    display: flex;
    list-style: none;
}

.menu .ico ul li{
    list-style: none;
    padding: 0 5px;
   
}

.menu .tema .back .min{
    margin-left: 10px;
    border: 1px solid white;
    background: blue;
    border: none;
    color: white;
    padding: 2px;
    font-size: 18px;    font-family: "Playwrite DE LA", cursive;
    border-radius: 5px ;
    cursor: pointer;
    animation: revealText7 9s forwards;
} 


.valore1{
    width: 100%;
    margin-bottom: 100px;

}
.valore1 img{
    width: 100%;
    height: 700px;
}

.menu .tema .back .mas{
    font-size: 24px;
}


.logo img{
    width: 150px;
    cursor: pointer;
    position: absolute;
    top: 15px;
}

.submenu ul{
    display: flex;
    list-style: none;
}

.submenu ul li{
    list-style: none;
    padding: 0 20px;
}

.submenu ul li a{
    text-decoration: none;
    font-family: "Roboto", serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    position: relative;
    transition: ease all 1s;
}

.submenu ul li a::after{
    content: '';
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 2px;
    background-color:rgb(77, 132, 216);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.submenu ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.inicio{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 200PX;

}


.inicio .imagen .img2 .linea11{
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
    border: 1px solid #ffffff;
    width: 1062px;
    height: 540px;
}

.inicio .men{
    position: absolute;
    margin-top: 170px;
    margin-right: 750px;
    z-index: 11;
    /*nes*/    
}
    

.inicio .imagen .img2 img{
    width: 1050px;
    height: 550px;
    position: relative;
    z-index: 10;
    filter: grayscale(50%);
    animation: revealText5 6s forwards;
}

.inicio .men h1{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 45px;
    animation: revealText 3s forwards;
}




@keyframes revealText {
    from{ transform: 
        translateX(-500px); 
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealText1 {
    from{ transform: 
        translateX(-500px); 
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealText3 {
    from{ transform: 
        translateY(500px); 
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealText4 {
    from{  opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}


@keyframes revealText5 {
    from{ transform: 
        translateY(-500px);  
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealText6 {
    from{ transform: 
        translateX(500px);  
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes revealText7 {
    0%{ transform: 
        translateX(500px); 
        opacity: 0; 
    }
    50%{
        background: blue;
        color: white;
        opacity:0.8;
        transform: none;
    }
    100%{
        background: white;
        color: black;
        opacity: 1;
        transform: none;  
    }
}

.inicio .men p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 500;
    animation: revealText1 3s forwards;
}

.inicio .men button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-family: "Roboto", serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #0b57d0;
    color: white;
    transition: 0.8s ease;
    animation: revealText3 4s forwards;
}

.inicio .men button:hover{
    opacity: 0.6;
    color: black;

}

.inicio .men button :hover a{
    color: black;
}

.inicio .men img{

    width: 40px;
    height: 30px;
    animation: revealText5 5s forwards;
}


.inicio .imagen .dialg{
    position: absolute;
    z-index: 12;
    display: flex;
    justify-content: left;
    margin-top: -28px;
    width: 450px;
    height: 40px;  
    background: #303030;
    border: red;
    right: 0;
    align-items: center;
    padding: 15px;
    animation: revealText4 8s forwards;
}

.inicio .imagen .dialg p{
    font-family: "Roboto", serif;
    font-style: normal;
    margin-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 24px;
    
}
#aa{
    font-family: "Playwrite DE LA", cursive;
}

/*CARRUSEL*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: -5px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 540px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
      li:nth-child(4) .slide-circulo,
      #slide-5:checked ~ .control-5 ~ .slide-indicador 
      li:nth-child(5) .slide-circulo {
           color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

.contenedor .menu h1{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: rgb(7, 17, 71);
}

.slide-text{
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 80%;
    left: 2%;
}    

/*titulo empresa*/

.init{
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom:100px;
    font-family: "Roboto", serif;
    font-size: 18px;
    color: white;
}

.init h1{
    margin-top: -150px;
    margin-bottom: 20px;
    font-weight: 800;
    
}

.init2{
    width: 75%;
    margin: auto;
    text-align: justify;
    margin-top: 200px;
    margin-bottom:100px;
    font-family: "Roboto", serif;
    font-size: 18px;
    color: white;
}

.init2 h1{
    margin-top: -150px;
    margin-bottom: 20px;
    font-weight: 800;
    
}

/*perfil*/

.perfil .enter .imgen{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden; 
    
}

.perfil .enter .imgen img{
    width: 100%;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: 50px;
   color: #0b57d0;
   opacity: 0;
}

.perfil .enter .descripcion{
    width: 55%;
    text-align: justify;
    margin-top:10px;
    align-items: center;
    
}


.perfil .enter .descripcion p{
    font-family: "Roboto", serif;
    font-size: 18px;  
    font-weight: 400;
    color: white;
}

.perfil .enter .descripcion h1{
    font-family: "Roboto", serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 900;
}

.perfil .enter .descripcion button{
    padding: 10px 35px;
    margin-top: 15px;
    border: none;
    border-radius:10px; 
    background: #0b57d0;
    color: white;
    cursor: pointer;
}

.perfil .enter .imgen{
    margin-left: 100px;
}
.perfil{
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(16, 34, 52);
    justify-content: center;
    margin: auto;
    background: #303030;
    border-radius: 10px;
}

#ee{
    font-family: "Playwrite DE LA", cursive;
}

.perfil .enter{
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 50px;
}

.linea{
    border-top: 1px solid #0b57d0;
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.from{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: -70px;
    margin-bottom: 0px;
}

.from img{
    display: flex;
    width: 100%;
    height: 350px;
}

.from1{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: -70px;
    margin-bottom: 0px;
   
}

.from1 .dentro{
    
    width: 100%;
    position: absolute;
}
.from1 .dentro img{
    display: flex;
    width: 100%;
    height: 500px;
    filter: grayscale(10%);
    filter: brightness(0.8);
}

.from1  .position h1 {
    width: 100%;
    font-family: "Orbitron", sans-serif;
    font-size: 36px;
    text-align: justify;
    color: white;
    position: relative;
    margin-top: -450px;
    font-weight: 800;
    margin-left: 20px;

}


.from1  .position p{
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 20px ;
    font-size: 18px;
    font-weight: 500;
} 

.from2{
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.from2 img{
    display: flex;
    width: 100%;
    height: 350px;
}

.desp{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    color: white;
}

.desp h1{
    font-family: "Roboto", serif;
    font-size: 26px;
    margin-bottom: 30px;
}

.desp p{
    font-family: "Roboto", serif;
    font-size: 16px;
    color: white;
    text-align: justify;
}


/*lemas*/
.titulo2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Playwrite DE LA", cursive; 
    font-size: 22px;
    font-weight: 800;
    margin-top: 0px;
    color: white;
    margin-top: 40px;
    text-align: center;
}
.titulo3{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin-top: 0px;
    color: white;
    margin-top: 40px;
    text-align: center;
}
.lemas{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

   
}

.lemas .lemas_1 .conten_lema{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.lemas .lemas_1 .conten_lema .mision{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 60px;
    
}

.lemas .lemas_1 .conten_lema .mision h2{
    margin-bottom: 10px;
    font-family: "Roboto", serif; 
    font-size: 34px;
    color: white;
}

.lemas .lemas_1 .conten_lema .mision p{
    font-size: 17px;
    font-family: "Roboto", serif; 
    font-size: 17px;
    color: white;
}


.lemas .lemas_1 .conten_lema .img img{
    width: 250px;
    height: 180px;
}


.lemas2{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);

   
}

.lemas2 .lemas_2 .conten_lema2{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.lemas2 .lemas_2 .conten_lema2 .mision{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 60px;
    
}

.lemas2 .lemas_2 .conten_lema2 .mision h2{
    margin-bottom: 10px;
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.lemas2 .lemas_2 .conten_lema2 .mision p{
    font-size: 17px;
    font-family: "Roboto", serif;
    font-size: 18px;
    color: white;
}





/*car*/

.car{
    
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background: #fff;
}

.contenedor-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.box{
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    text-align: center;
    border-radius: 10px;
    position: relative;
    background: #f8f8f8dc;
    box-shadow: -1px 7px 23px -11px rgba(0,0,0,0.75);
    

}


#cc{
font-family: "Roboto", serif;
    margin-top:-35px ;
}

.box img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    transition: ease all 1s;
}

.box h2{
    font-size: 18px;
    margin-top: 10px;
    font-family: "Orbitron", sans-serif;
    transition: ease all 1s;

}

.box p {
    font-size: 15px;
    opacity: 0;
    margin-top: 20px;
    margin: 5px;
    transition: ease all 1s;
}

.box:hover img{
    transform: translateY(-90px);
}

.box:hover h2{
    transform: translateY(-150px);
}

.ver{
    color: white;
}

.box .contenedor-p{
    width: 100%;
    height: 220px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
}

.box:hover .contenedor-p p{
    
    margin-top: 10px;
    opacity: 1;
}

.box:hover{
    border: 2px solid rgb(59, 118, 169);
}

.box:hover img{
    opacity: 0;
}

/*car 2*/


.car1{
    width: 100%;
    margin: auto;
    margin-top: 0px;
    background: #fff;
}

.contenedor-box1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.box1{
    width: 280px;
    height: 500px;
    margin: 20px;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    text-align: center;
    border-radius: 10px;
    position: relative;
    background: #f8f8f8dc;
    box-shadow: -1px 7px 23px -11px rgba(0,0,0,0.75);
    transition: 0.5s ease;
    border: 1px solid rgba(0, 0, 0, 0.219);
}


#cc1{
font-family: "Roboto", serif;
    margin-top:-35px ;
}

.box1 img{
    margin-top: 0px;
    width: 100%;
    height: 260px;
    transition: ease all 1s;
}

.box1 h2{
    font-size: 18px;
    margin-top: 20px;
    font-family: "Orbitron", sans-serif;
    transition: ease all 1s;

}

.box1 p {
    font-size: 15px;
    opacity: 1;
    margin-top: 0px;
    font-family: "Roboto", serif;
    padding: 20px 40px;
    margin: 5px;
    transition: ease all 1s;
}

/* .box1:hover img{
    transform: translateY(-90px);
}

.box1:hover h2{
    transform: translateY(-150px);
} */

.ver1{
    color: white;
}

/* .box1 .contenedor-p1{
    width: 100%;
    height: 220px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 1;
} */

/* .box1:hover .contenedor-p1 p{
    
    margin-top: 10px;
    opacity: 1;
} */

.box1:hover{
    border: 2px solid rgb(59, 118, 169);
    scale: 1.05;
}



/* .box1:hover img{
    opacity: 0;
} */


/*git*/

.git{
    
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(110px, 50px);   
    margin-top: 50px;
}

.git .git_1{
    grid-column: 1;
    grid-row: 1/5;
    
}

.git .git_2{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.git .git_3{
    grid-column: 4/4;
    grid-row: 1/3;
}
.git .git_4{
    grid-column: 3/2;
    grid-row: 3/5;
}
.git .git_5{
    grid-column: 3/5;
    grid-row: 3/5;
    
}

.git .git_6{
    grid-column: 3;
    grid-row: 4;
}

.git .git_1 img{
    display: flex;
    width: 100%;
    height: 100%; 
}

.git .git_2 img{
    display: flex;
    width: 100%;
    height: 100%;
}

.git .git_3 img{
    display: flex;
    width: 100%;
    height: 100%;
}

.git .git_4 img{
    display: flex;
    width: 100%;
    height: 100%;
}

.git .git_5 img{
    display: flex;
    width: 100%;
    height: 100%;
}

.dos {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.dos .doss{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 250px;
  
   
}

.dos .doss h1{
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
  
}


#li1{
    margin-top: 150px;
}

.dos p{
    font-family: "Roboto", serif;
    font-size: 18px;

}

#li2{
    margin-left: 30px;
}

.dos .tres{
    margin-top: 150px;
    border-left: 1px solid rgb(0, 0, 0);
    height: 300px;
}

.dos .doss h1{
    font-size: 24px;
    margin-top: 0px; 
    margin-bottom: 20px;
}

.desp .conp{
    display: flex;
    
}

.desp .conp .conp2 img{
    width: 500px;
    margin-left: 100px;
}

.desp .conp .conp2 .focus h1{
    margin-left: 15px;
    font-family: "Playwrite DE LA", cursive;
    font-size: 20px;
}

#ll{
    font-family: "Playwrite DE LA", cursive; 
}

.desp .conp .conp2 .focus{
    border-top:0.5px solid rgba(255, 255, 255, 0.5) ;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    width: 40%;
    height: 40px;
    margin-left: 130px;
    margin-top: 90px;
    margin-bottom: 60px;
}


/*ss*/
.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state~.read-more-trigger:before {
    content: 'Ver más';
  }
  
  .read-more-state:checked~.read-more-trigger:before {
    content: 'Ver menos';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", serif;
    padding: 5px 10px;
    color: white;
    font-size: .9em;
    line-height: 2;
    background: #0b57d0;
    border-radius: .25em;
  }

  .read-more-target{
    
    display: flex;
  }


  
 .conn .union{
 display: flex;
 width: 100%;
 margin-bottom: 80px;
 }

 .conn .union img{
 width: 100%;
 height: 150px;
 }

.honda{
    width: 100%;
    margin-bottom: 100px;
}
.honda h2{
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
}

 .accordion {
    background: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    display: flex;
    margin: auto;
    border-bottom: 1px solid black;
    margin-bottom: 18px;
    transition: 1s ease ;
  }
  

  
  .panel {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: 1s ease ;
}

/*valores*/

.dead{
    width: 100%;
 
}

.dead .dead1{
    color: white;

    width: 70%;
    margin: auto;    
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.dead .dead1 .box4{
    width: 400px;
    height: auto;
    margin: 18px;    
    
}

.dead .dead1 .box4 .circulo{
    
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    background: #203b94;
    font-family: "Roboto", serif;
}

.dead .dead1 .box4 .despa{
    text-align: justify;
} 

.dead .dead1 .box4 .despa p{
    font-family: "Roboto", serif;
    font-size: 18px;
}

 /*formulario*/

 .form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
    
 }

 .form .fomr1 {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: -1px 7px 23px -11px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
 }


 .ovulada{
    width: 100%;
}

.ovulada img{
    display: flex;
    margin: auto;
    width: 1000px;
    height: 250px;
    margin-bottom: -90px;
}

.footer{
    width: 100%;
}


.footer img{
    width: 100%;
    height: 300px;
    transform: rotate(180deg);
}

 .form .fomr1 .formulario{
    padding: 50px 0px;
    width: 540px;
    height: 270px;
 }

 .form .fomr1 .formulario label{
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
 }

 .form .fomr1 .formulario input{
    height:25px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
 }
 #op{
    margin-left: 40px;
 }

 .form .fomr1 .formulario .twos{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
    
}


.form .fomr1 .formulario .one{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


.form .fomr1 .formulario .one input{
    width: 440px;
}

 .form .fomr1 .formulario .twos .caja{
    display:flex;
    flex-direction: column;
 }

 .form .fomr1 .formulario .one .caja{
    display:flex;
    flex-direction: column;
 }

 #oj{
    margin-top: 40px;
 }



.form .fomr1 .redes1{
    width: 50%;
    padding: 20px;
}


.form .fomr1 .redes1 h1{
    font-family: "Orbitron", sans-serif;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 5px;
}

.form .fomr1 .redes1 p{
    font-family: "Roboto", serif;
    font-size: 17px;
}


 
.middle{
    width: 100%;
    display: flex; 
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    
}

.botones{
    
    display:inline-block;
    width: 80px;
    height: 80px;
    background: rgb(240, 237, 237);
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 20px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;

    
}

.botones img{
    display: flex;
    line-height: 90px;
    width: 30px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    transition: ease all 0.2s;
    
}

.botones:hover img{
    transform: scale(1.3);
    color: #f1f1f1;
    
}

.botones::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}


.form .fomr1 .formulario h1{
    margin-top: -30px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}

.form .fomr1 .formulario .conbut{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.form .fomr1 .formulario button{
    width: 80%;
    padding: 12px 15px;
    color: black;
    background: rgb(241, 240, 240);
    border:1px solid rgba(3, 3, 3, 0.568);
    border-radius: 10px;
    transition: 1s ease;
    cursor: pointer;
}

.form .fomr1 .formulario button:hover{
    background: #0b57d0;
    color: white;
    border: none;
}

#button-up{
    width: 60px;
    height: 60px;
    background:rgb(41, 41, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: ease all 0.8s;
    transform: scale(0);

}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);;
}


#btn_c1:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    background: rgba(39, 39, 177, 0.788);
}
#btn_c1{
    color: rgba(39, 39, 177, 0.788);
}

#btn_c2:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);;
}

#btn_c2 i{
    color: rgb(189, 97, 169) ;
}

#btn_c2:hover i{
    color: #f1f1f1;
}

#btn_c3:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    background: #e60b0b;
}

#btn_c4:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    background: rgb(21, 255, 0);
}

#btn_c4 i{
    color: rgb(21, 255, 0);
}

#btn_c4:hover i{
    color: white;
}

@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;

    }50%{
        left: 10%;
        top: -30%;

    }100%{
        top: -10%;
        left: -10%;
    }
}

#mostrar{
    opacity: 0;
}

@media(max-width: 1280px){
    .inicio{
        justify-content: center;
    }.inicio .men{        
        width: 100%;
        display: flex;
        margin-right: 0px;
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
    }.inicio .imagen .img2 .linea11{
        display: none;
    }.inicio .imagen .img2 img{
        filter: opacity(0.5);
    } .inicio .men button{
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
   
    }.form .fomr1 {
        border: 1px solid red;
        flex-wrap: wrap;
    }.menu1{
        position: fixed;
        display: block;
        
    }
    .submenu {
        background: #303030;
        box-shadow: 1px 1px 7px;
        height: 0px;
        width: 110px;
        position: fixed;
        right: 30px;
        top: 70px;
        overflow: hidden;
        z-index: 99;
        border-radius: 5px;
        transition: ease all 0.5s;
    }.tab .contab .list .indicador{
        display:none ;
    }

    .submenu ul {
        flex-direction: column;
    }

    .submenu ul li{
        padding: 10px 0px;
        text-align: center;
    }

    .menu_menu{
        height: 235px;
    }.from1 .dentro img{
        filter: brightness(0.5);
    }

}

@media(max-width: 973px){
    .ovulada img{
        width: 90%;
        margin: 0;
        
    }.desp .conp{
        flex-wrap: wrap;
    }.desp .conp .conp2 img{
        margin-left: 0px;
        width: 95%;
    }.desp .conp .conp2 .focus{
        margin:auto;
        margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;
        width: 50%;
    }.desp .conp .conp2 .focus h1{
        margin-left: 0px;
        margin-top: 5px;
        font-size: 17px;
     }.from{
        width: 95%;
    }.from img{
        height: 200px;
        width: 100%;
    }.lemas{
        width: 90%;
        display: flex;
        text-align: center;
        
    }.lemas .lemas_1 .conten_lema{
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }.lemas .lemas_1 .conten_lema .img img{
        width: 300px;
        height: 200px;
    }#vision{
        flex-direction: column-reverse;
    }.lemas .lemas_1 .conten_lema .mision{
        margin-left: 0px;
    }.lemas .lemas_1 .conten_lema {
        margin: 0px;
    }.lemas .lemas_1 .conten_lema .mision{
        margin-bottom: 20px;
        margin-top: 40px;
    }.lemas .lemas_1{
        margin-top: 30px;
    }.lemas2 .lemas_2 .conten_lema2 {
        margin: 0px;
    }#cc{
        margin-top: 10px;
    }#rata{
        margin-left: 30px;
    }.perfil{
        border-radius: 0px;
    }.perfil .enter{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        border-radius: 0px;
    }.perfil .enter .descripcion{
        width: 98%;
    }.perfil .enter .imgen{
        margin-left: 0px;
        margin: auto;
    }.git{
        display: none;
    }.valore1 img{
        height: 500px;
    }.tab .contab .list label {
        
        width: 100px;
    }.tab .contab .list .sevicios{
        margin-left: 10px;
    }.dead .dead1{
        flex-wrap: wrap;
    }
}




@media(max-width: 748px){
    .form .fomr1{
        width: 90%;
    }.form .fomr1 .formulario {
        width: 100%;
        padding: 0 0;
    }.form .fomr1 .formulario h1{
        margin-top: 30px;
    }.form .fomr1 .formulario .twos{
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }.form .fomr1 .formulario .one{
       margin-left: 0;
    }#op{
        margin-left: 0px;
        margin-top: 40px;
    }.form .fomr1 .formulario .caja input, label{
        margin-left: 0px;
        width: 90%;
        margin: auto;
    }.form .fomr1 .redes1 {
        margin-top: 160px;
        width: 80%;
        text-align: justify;
    }.form .fomr1 .redes1 h1{
        text-align: center;
        margin-top: 20px;
    }.dos{
        width: 85%;
        flex-wrap: wrap;
    }.dos .doss{
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    }.tres{
      display: none;
    }#li2{
        margin-top: 30px;
        width: 100%;
        text-align: justify;
        margin-left: 0;
        margin-bottom: 200px;
    }.inicio .men button{
        display: none;
    }#li1{
        margin-top: 50px;
        margin-bottom: 50px;
    }.dead .dead1{
        width: 90%;
    }

}

@media(max-width:532px ){
    .middle{
        flex-wrap: wrap;
    }.footer{
        border: none;
    }.footer img{
        height: 150px;
        border: none;
    }#ana{
        font-size: 26px;
    }.inicio .imagen .dialg{
        display: block;
        width: 90%;
        height: 70px;
    }.inicio .imagen .dialg p{
        margin-left: 8px;
        font-size: 14px;
    }.dos {
       margin-bottom: 60px;     
    }.honda{
       margin-bottom: 60px;
    }.honda h2 {
        font-size: 22px;
    }.honda .accordion{
        width: 95%;
    }.honda .panel{
        width: 90%;
        text-align: justify;
    }.from1 .dentro .position h1{
        font-size: 25px;
        
    }.from1 .dentro .position p{
        font-size: 18px;
        margin-top: 40px;
    }
}

@media(max-width: 1076px){
    .menu .ico{
        display: none;
    }.inicio .imagen .img2 img{
        width: 100%;
    }
}

@media(max-width: 375px){
    .inicio .men{
        width: 90%;
   } .inicio .men h1{
        font-size: 30px;
        
        margin-top: -0px;
    } .inicio .men p{
        margin-top: 20px;
        font-size: 15px;
    }.menu .tema h1{
        font-size: 25px;
    }.menu .tema .back .mas{
        font-size: 19px;
    }.menu .tema .back .min{
        font-size: 18px;
    }.dos {
       margin-bottom: 20px; 
    }
}


/*page legar*/

.encabezado{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: rgb(16, 18, 24);
}

.encabezado .imagen{
    display: flex;
    width: 700px;
    height: 500px;
    justify-content: right;
    margin-left: 0px;    
}

.encabezado .imagen img{
    opacity: 0.8;
}




.encabezado .titulo_legar{
    color: white;
    width: 50%;
    height: auto;    
    display: flex;
    margin: auto;
    justify-content:center ;

}

.tab{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    }
    

.encabezado .titulo_legar .dentro {
    font-family: "Playwrite DE LA", cursive;
}


.encabezado .titulo_legar .dentro h1{
    font-family: "Roboto", serif;
    font-size: 40px;
}

.encabezado .titulo_legar .dentro h2{
    font-weight: 800;
} 

    .contab{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .tab .contab{
    display: flex;
    justify-content: space-between;
    
    }
    
    .tab .contab .list{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 0px;
    font-family: "Playwrite DE LA", cursive;
    }


    .tab .contab .list span{
        font-size: 20px;
    }
    
    .contab .list label{
    height: 50px;
    color: whitesmoke;
    width: 15%;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    line-height: 50px;
    z-index: 12;
    transition: ease all 0.5s;
    }
    
    .contab .list label:hover{
    opacity: 0.6;
    }
    
    .contab .indicador{
    position: absolute;
    height: 5px;
    width: 185px;
    bottom: 10px;
    background:#0b57d0;
    border-radius: 5px;
    transition: ease all 0.8s;
    
    }
    
    #precio:checked ~ .list .precio{
        color: white;
    left: 0;
    }
    
    #servicios:checked ~ .list .sevicios{
    left:200px;color: whi;
    }
    
    #garantia:checked ~ .list .indicador{
    left:60px;
    }
    
    .contab input{
    display: none;
    }
    
    .tab .contab .text-content{
    width: 100%;
    height: 100%;
    }
    
    .tab .contab .text-content p{
    margin-top: 20px;
    text-align: justify;
    color: whitesmoke;
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 1.2rem;
    }
    
    .tab .contab .text-content .title{
    margin-top: 12px;
    font-family: "Roboto", serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    
    }
    
    .contab .text-content .text{
    display: none;
    }
    
    .contab .text-content .precio{
    display: block;
    
    }
    
    #precio:checked ~ .text-content .precio,
    #servicios:checked ~ .text-content .servicios,
    #garantia:checked ~ .text-content .garantia{
    display: block;
    }
    
    
    #servicios:checked ~ .text-content .precio,
    #garantia:checked ~ .text-content .precio{
    display: none;
    }

    .tab .contab .text-content  .izq .portada img{
        width: 250px;
        height: 350px;
    }

    .tab .contab .text-content  .izq-vv .portada img{
        width: 250px;
        height: 350px;
    }

    .tab .contab .text-content .izq {
        display: flex;
        width: 100%; 
    }

    #abajov{
        margin-bottom: 60px;
    }

    .tab .contab .text-content .izq-vv {
        display: flex;
        width: 100%; 
        justify-content: right;
    }

    .tab .contab .text-content  .izq .contenidov{
        margin: 40px;
    }

    .tab .contab .text-content  .izq .contenidov h1{
        color: white;
        font-family: "Roboto", serif;
        
    }

    .tab .contab .text-content  .izq .contenidov p{
        width: 80%;
    }

    .tab .contab .text-content  .izq-vv .contenidov-vv  {
        display: flex;
        height: auto;
        width: 60%;
        flex-direction: column;
        justify-content: left;
        margin: 20px;
    }

    .tab .contab .text-content  .izq-vv .contenidov-vv p{  
        width: 100%;
        font-family: "Roboto", serif;
        font-size: 16px;
    }

    .tab .contab .text-content  .izq-vv .contenidov-vv h1{
        font-family: "Roboto", serif;
        margin-top: 20px;
        color: white;
    }

    .tab .contab .text-content  .izq-vv .contenidov-vv .portada{
        border: 1px solid blue;
    
    }

    #arribav{
        margin-top: 50px;
    }

    .animal .linea-v h1{
        font-family: "Roboto", serif;
        color: white;
        margin-top: 30px;
    }

    .animal .linea-v p{
        font-family: "Roboto", serif;
        font-size: 16px;
    }

    @media(max-width: 1112px){
       .encabezado .imagen{
        width: 500px;
       } 
    }

    @media(max-width: 894px){
        .encabezado .imagen{
            width: 350px;
        } 
        
    }
@media(max-width: 894px){
    .encabezado .imagen{
        width: 100%;
    }.encabezado .titulo_legar{
        position: absolute;
        margin-top: 180px;
    }.encabezado .titulo_legar .dentro img{
        opacity: 0.4;
    }.tab .contab .text-content .izq{
        flex-direction: column;
    }.tab .contab .text-content .izq .portada{
        width: 100%;
    }.tab .contab .text-content .izq .portada img{
        width: 100%;
        height: 250px;
    }.tab .contab .text-content .izq .contenidov{
        margin: 10px;
    }.tab .contab .text-content .izq .contenidov p{
        width: 100%;
    }.tab .contab .text-content .izq-vv{
        margin-top: 30px;
        flex-direction: column-reverse;
    }.tab .contab .text-content .izq-vv .portada{
        width: 100%;
    }.tab .contab .text-content .izq-vv .portada img{
        width: 100%;
        height: 250px;
    }.tab .contab .text-content .izq-vv .contenidov-vv{
        width: 100%;
        margin: 10px;
        margin-bottom: 30px;
    }.tab .contab .text-content .izq-vv .contenidov-vv p{
        width: 100%;
    }

}

.contenedor .logito img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contenedor .logito{
    margin-left: 20px;
    
}


#anpliar{
    font-size: 44px;
}



